.save-tooltip {
  position: absolute;
  top: 24px;
  right: 69px;

  height: 40px;
  width: 182px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-tooltip__content {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

@media screen and (max-width: 850px) {
  .save-tooltip {
    display: none;
  }
}
