.search-form {
  position: relative;
  max-width: 608px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.search-form__input {
  width: 100%;
  height: 64px;
  border-radius: 100px;
  border: none;
  padding-left: 24px;
  box-sizing: border-box;
}

.search-form__input::placeholder {
  color: #b6bcbf;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.search-form__search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: #2f71e5;
  color: #ffffff;
}

.search-form__search-button:hover {
  background-color: #347eff;
}

.search-form__search-button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 850px) {
  .search-form__input {
    height: 56px;
  }

  .search-form__search-button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .search-form__search-button:hover,
  .search-form__search-button:active {
    background-color: #2f71e5;
  }
}

@media screen and (max-width: 610px) {
  .search-form {
    max-width: 400px;
    gap: 16px;
  }
}

@media screen and (max-width: 420px) {
  .search-form {
    max-width: 300px;
    gap: 16px;
  }
}

@media screen and (max-width: 350px) {
  .search-form {
    position: relative;
    max-width: 288px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
  }

  .search-form__input {
    width: 100%;
    height: 56px;
    padding-left: 16px;
  }

  .search-form__search-button {
    position: static;
    width: 288px;
    height: 56px;
  }
}
