.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 80%;
}

.popup__title {
  max-width: 315px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding: 34px 0 22px 36px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__fieldset {
  max-width: 358px;
  width: 100%;
  border: none;

  padding: 0;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
}

.popup__fieldset:last-of-type {
  margin-bottom: 0;
}

.popup__input-name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2f71e5;
}

.popup__input {
  border: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;

  height: 33px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  border-bottom-color: #000;
}

.popup__input::placeholder {
  opacity: 80%;
}

.popup__error {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ff0000;

  display: block;
  margin-top: 5px;
}

.popup__submit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.popup__submit-error {
  position: absolute;
  top: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ff0000;
}

.popup__submit-button {
  width: 100%;
  height: 64px;
  background-color: #2f71e5;
  color: #ffffff;
  border: none;
  border-radius: 50px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  margin: 39px 0 16px;
}

.popup__submit-button:hover {
  opacity: 80%;
}

.popup__submit-button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
  pointer-events: none;
}

.popup__info-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 28px;
}

.popup__info-button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #4983e8;
}

.popup__tooltip-button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #2f71e5;
  padding-left: 36px;
  padding-bottom: 51px;
}
