.news-card {
  list-style: none;
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: url("/src/images/Cursor.svg"), auto;
}

.news-card__image {
  width: 100%;
  max-height: 272px;
  height: 100%;
  object-fit: cover;
}

.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;

  height: 40px;
  width: 40px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;

  background-image: url("@src/images/Bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.news-card__save-button:hover {
  background-image: url("@src/images/Bookmark_Hover.svg");
}

/* .news-card__save-button:active {
  background-image: url("@src/images/Bookmark_Active.svg");
} */

.news-card__save-button--active {
  background-image: url("@src/images/Bookmark_Active.svg");
}

.news-card__save-button--active:active {
  background-image: url("@src/images/Bookmark_Active.svg");
}

.news-card__save-button:disabled {
  cursor: default;
}

.news-card__top-box {
  position: absolute;
  top: 24px;
  right: 24px;

  max-width: 352px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-card__article-tag {
  height: 40px;
  max-width: 121px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.news-card__remove-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;

  background-image: url("@src/images/Trash.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.news-card__remove-button:hover {
  background-image: url("@src/images/Trash_Hover.svg");
}

.news-card__content {
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-card__date {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
}

.news-card__title {
  max-width: 352px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 8px;
}

.news-card__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__source {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media screen and (max-width: 850px) {
  .news-card {
    max-width: 224px;
  }

  .news-card__image {
    height: 150px;
  }

  .news-card__save-button {
    top: 8px;
    right: 8px;
  }

  .news-card__save-button:hover {
    background-image: url("@src/images/Bookmark.svg");
  }

  .news-card__top-box {
    top: 8px;
    right: 8px;
    max-width: 204px;
  }

  .news-card__article-tag {
    height: 40px;
    max-width: 117px;
  }

  .news-card__content {
    padding: 14px 16px 16px;
  }

  .news-card__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3.6px;
  }

  .news-card__description {
    margin-bottom: 16px;
    -webkit-line-clamp: 3;
  }

  .news-card__source {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
